.tableMergeCell {
    table-layout: fixed;
    th, td {
        position: relative;
        height: 30px;
    }
    .tableMergeCell-selected {
        background-color: #e6efff;
        // border: 1px dashed #4b89ff;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            outline: 1px solid #4b89ff;
            pointer-events: none;
        }
    }
    .tableMergeCell-colorPicker {
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
    }
    table {
        table-layout: fixed;
    }
}

.tableMergeCell-contextmenu {
    position: fixed;
    z-index: 10000;
    list-style: none;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: auto;
    box-sizing: border-box;
    min-width: 160px;
    li {
        font-size: 14px;
        text-indent: 1em;
        line-height: 1.8;
        cursor: pointer;
        &:hover {
            background-color: #eee;
        }
    }
}

.tableMergeCell-focusEle {
    position: absolute;
    z-index: -9;
    opacity: 0;
    &:focus {
        background-color: red;
    }
}
