.tableMergeCell {
    table-layout: fixed;
    th, td {
        position: relative;
    }
    .selected {
        background-color: #e6efff;
        // border: 1px solid #4b89ff;
    }
    .tableMergeCell-colorPicker {
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
    }
}

.tableMergeCell-contextmenu {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000;
    list-style: none;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    background-color: white;
    li {
        font-size: 14px;
        text-indent: 1em;
        min-width: 200px;
        line-height: 1.8;
        cursor: pointer;
        &:hover {
            background-color: #eee;
        }
    }
}

.w-e-tooltip {
    display: none!important;
}